<div [class.dark-mode]="darkMode">
<h1>
    {{title}}
</h1>

<input 
[value]="taskText"
type="text" 
#taskInput 
(input)="onInput(taskInput.value)"
(keyup.enter)="addTask()"
>

<input
[value]="searchText"
type="text"
#searchInput
(input)="onSearch(searchInput.value)"
>

<button (click)="addTask()">Agregar</button>
<p>{{taskText}}</p>

@if (!hasTasks()){
<p>No hay tareas registradas</p>
}

<p>tareas: {{getTaskCount()}}</p>
<p>
    total: {{getTaskCount()}}
    | Completadas: {{getCompletedTasksCount()}}
    | Pendientes: {{getPendingTasksCount()}}
</p>

<button (click)="changeFilter('all')">
    Todas
</button>

<button (click)="changeFilter('active')">
    Activas
</button>

<button (click)="changeFilter('completed')">
    Completadas
</button>


<p>{{editingText}}</p>

<button (click)="clearCompletedTasks()">
    Eliminar completadas
</button>

<ul>
    @for(task of getFilteredTasks(); track task){
        <li [class.completed]="task.completed">
            <input  
                    type="checkbox" 
                    [checked]="task.completed"
                    (click)="toggleTask(task)">
                    @if (editingIndex == $index)
                    {
                        <input
                        type = "text"
                        [(ngModel)] = "editingText"
                        (keyup.enter)="saveEdit()"
                        >
                    }@else{
                        {{task.text}}
                    }

        <button (click)="editTask($index)">
            Editar
        </button>

        <button (click)="deleteTask(task)">
            Eliminar
        </button>
        </li> 
    }

    <button (click)="toggleDarkMode()">
        Dark Mode
    </button>
    <p>{{darkMode}}</p>
</ul>

<h2>Tareas API</h2>

<ul>
    @for(todo of apiTasks.slice(0,10); track todo.id){
        <li>
            {{todo.title}}
        </li>

    }
</ul>
</div>